.formulario{
	padding: 15px;
	padding-left: 30px;
	border:1px;
	border-color: white;
	border-radius: 15px;
	background-color: #3f888f;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 500px;
}

.form-check-label{
	color:black!important;
}