.formulario {
    padding: 15px;
    border: 1px;
    border-color: white;
    border-radius: 15px;
    background-color: #3f888f;
    color: black;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;  
    align-items: center;
    justify-items: center;
    h3 {
        grid-column: 1/-1;
    }
	button[type="submit"] {
        grid-column: -1/-2;
        justify-self: flex-start;
        align-self: flex-start;
        padding: 1%;
        color: #fff;
        background-color: #3f888f;
        border: 1px solid transparent;
        border-radius: .25rem;
        font-weight: 400;
        font-size: 1.3rem;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        min-width: 50%;
        label {
            margin-bottom: 15px;
        }
    }
}
.back {
  
	width: 80%;
    background-color: white;
    padding: 15px;
    color: rgb(32, 28, 28);
    display: grid;
    gap: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
.form-check-label {
    color: black;
}