.cartao {
    border: 1px;
    border-color: white;
    border-radius: 15px;
    /* background-color: #3f888f; */
    background-image: linear-gradient(to left, #41acb6, #2d666b);
    /* 41acb6 */
    /* 3f888f */
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    color: white !important;
}

.icone {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}